@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.01)
    ),
    url(../pictures/backgrounds/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: inline-flex;
  list-style: none;
  margin-right: 80px;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.textbutton:hover { 
  transition: .5s;
  color: red;
}

.dropdown {
  color: black;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}

.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  position: absolute;
  left: -60px;
  opacity: 0;
  text-align: right;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  min-width: 120px;
}

.dropdown-menu li:first-child {
  cursor: default;
}

.dropdown-menu a {
  color: white;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;

}