@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.background {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: auto;
}

.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: inline-flex;
  list-style: none;
  margin-right: 80px;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.textbutton:hover { 
  transition: .5s;
  color: red;
}

.dropdown {
  color: black;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}

.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  position: absolute;
  left: -60px;
  opacity: 0;
  text-align: right;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  min-width: 120px;
}

.dropdown-menu li:first-child {
  cursor: default;
}

.dropdown-menu a {
  color: white;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;

}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.pictures div {
  height: 501px;
  width: 1169px;
  overflow: hidden;
  margin-top: 40px;
}

div.pictures img {
  height: 100%;
  width: 100%;
}

div.pictures img:hover {
  transform: scale(1.1);
  opacity: 0.7;
  transition: .5s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
}

.goback {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.goback:hover {
  background: red;
  color: white;
  transition: .5s;
}

.footer {
  height: 40px;
}

